# Exercise 3: Data types and conversion

## Aim: Introduce data types and how to convert types.

### Issues covered:
- Learning about types
- More about strings
- Operating on different types
- Converting variable types

## 1. Let's take a look at some data types.

Here are some variables, each of a different type. Add them to the cell below and `print` out their type.
```
var1 = "hello"
var2 = 100
var3 = 7.52
```

In [1]:
var1 = "hello"
var2 = 100
var3 = 7.52

In [2]:
type(var1)

str

In [3]:
type(var2)

int

In [4]:
type(var3)

float

Experiment with different operands for `**` - e.g. `2 ** 2` or `5.7 ** 2`. When is the output a `float`?

## 2. More about strings

In [5]:
n = "hello"
m = "world"

The variables `n` and `m` are both strings. Try subtracting them and see what happens.

In [6]:
n - m

TypeError: unsupported operand type(s) for -: 'str' and 'str'

The `-` operator isn't supported for strings, however other operators are. Try using the `+` operator with `n` and `m` and print out the results.

In [7]:
n + m

'helloworld'

Try multiplying `n` or `m` by an integer and see what happens.

In [8]:
n * 3

'hellohellohello'

## 3. Converting variable types.

In [9]:
a = 3
b = 4
c = (a**2 + b**2) ** 0.5

Try converting the variable `c` to an integer type using the `int()` function.

In [10]:
int(c)

5

Print the data type of `c` to check it worked.

In [11]:
type(c)

float

Try running the following line of code and see what happens:
```
print(a + " squared equals " + b + " squared " + c + " squared.")
```

In [12]:
print(a + " squared equals " + b + " squared " + c + " squared.")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

You should get an error, can you remember why this isn't a valid operation?

_Hint: Consider the types of the arguments. Try using `str()` to fix the error._

In [13]:
print(str(a) + " squared equals " + str(b) + " squared " + str(c) + " squared.")

3 squared equals 4 squared 5.0 squared.

Note that `print` essentially gives you the output of `str()` for each of the comma-separated items, adding spaces between them. This means we could print the same line using: `print(a, "squared +", b, "squared equals", c, "squared")`. Try it below.